<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == 'Artículos y Participaciones' %}current{% endif %}">
        <a href="/blog/">Todos los Artículos</a>
      </li>
      <li class="{% if page.title == 'Seminario' %}current{% endif %}">
        <a href="/seminario/participa">Participaciones</a>
      </li>
    </ul>
    <h4>Recientes</h4>
    <ul>
      {% for post in site.posts limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
      <h4>Noticias y Eventos</h4>
      <ul>
          <li><a href="#">Noticias</<a></li>
          <li><a href="#">Eventos</a></li>
      </ul>
  </aside>
</div>
