<ul>
    <li class="{% if page.overview %}current{% endif %}">
        <a href="/">Inicio</a>
    </li>
    <li class="{% if page.url contains '/blog/' %}current{% endif %}">
        <a href="/blog/">Blog</a>
    </li>
    <li class="{% if page.url contains '/participa/' %}current{% endif %}">
        <a href="/blog/participa/">Participa</a>
    </li>
    <li class="{% if page.url contains '/comunidad/' %}current{% endif %}">
        <a href="/comunidad/">Comunidad</a>
    </li>
    <li>
        <a href="{{ site.repository }}">GitHub</a>
    </li>
</ul>
